#grid {
  border: 1px solid black;
  border-collapse: collapse;
}

td, tr {
  height: 20px;
  width: 20px;
  border-collapse: collapse;
  border: 1px dotted gray;
  background-color: white;
}


#clear-button {
  border: 1px grey solid;
  padding: 5px;
  border-radius: 5px;
  width: 60px;
  text-align: center;
  display: inline-block;
  background-color: white;
  color: grey;
}

#canvas {
  width: 500px;
  height: 400px;
}

#palette {
  float: left;
}

body {
  background-image: url("../img/paintSplatter.png");
  background-repeat: no-repeat;
  background-size: 1200px 800px;
  color: grey;
  text-align: center;
}

#erase-button {
  border: 1px grey solid;
  padding: 5px;
  border-radius: 5px;
  width: 60px;
  text-align: center;
  display: inline-block;
  background-color: white;
  color: grey;
}

#grid-button {
  border: 1px grey solid;
  padding: 5px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  display: inline-block;
  background-color: white;
  color: grey;
}

#delete-grid {
  border: 1px grey solid;
  color: grey;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  display: inline-block;
}

input {
  width: 50px;
}

.color-palette {
  border: 1px solid white;
}